h1 {
  text-align: center;
}


#memoryboard {
  border-radius: 10px;
  background-color: grey;
  height: 30em;
  text-align: center;
  position:relative;
}

#finalrow{
  position: absolute;
  bottom: 2em;
}

#OK {
  float:right;

}

#KO {
  float:left;
}


#ScreenNumberDiv{
                  width: 100px;
                  height: 100px;
                  left:0em;
                  margin-top: 15em;

}


#card {
    animation: fadein 1s;
  }

@keyframes fadein {
    from {opacity:0;    }
    to   {opacity:1;    }
}
